<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ut-8">
    <meta name=" viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulos de electronica</title>
    <link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
</head>

<body>