<html>

<head>
    <title>Articulos de electronica</title>
    <link rel="stylesheet" href="/favicon.png" />
    <meta charset="ut-8">
</head>

<body>
    <header>
        <h1>
            <%= Articulos de electronica %>
        </h1>
        <p>
            <%= Aca va un mensaje tipo slogan%>
        </p>
    </header>
</body>

</html>