/*<%- include('partials/head') %>
    <header>
        <h1>
            <%=title%>
        </h1>
        <p>
            <%=message%>
        </p>
        <a href="/electronicos">Articulos Electronicos</a> <br />
        <a href="/contacto">Contacto</a>
    </header>
    <%- include('partials/footer') %> */